# ignored files in workspace
215/215.xcodeproj/project.xcworkspace/xcuserdata/ #ignore xcuserdata folder
215/215.xcodeproj/project.xcworkspace/xcuserdata/llv22.xcuserdatad/ # UserInterfaceState.xcuserstate in xcuserdatad should be ignored for breakpoints
